name: Node.js CI

on:
  push:
    branches: [main]
# jobs to run
jobs:
# build a server to create and auto configure
  build:

    runs-on: ubuntu-latest

    strategy:
    # only testing on Node 18 now but could have done
    # several builds by adiing [16.x,18.x] etc
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    # borrowed from github marketplace action 
    # checkout this repo on the server 
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
    # action from github marketpalce, actions
    # install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
      # npm ci = read-only from package.json version
      # of npm install -> installs all npm modules
      # mentioned in pakcage.json, preferably during CI
    - run: npm ci
    # if the project has a npm run build command
    # then runs (not needed right now but keep)
    - run: npm run build --if-present
    # run whatever is specified in package.json
    # for the script test
    - run: npm test